  /* Main Nav Style is coded below */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #233B3D;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #e4e7e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #3d233b;
  }
  /* drop down nav styled below (I hope) */

  nav ul ul{
      position: absolute;
      top: 50px;
      display: none;
      color:#e4e7e5;
      text-align: center;
      padding: 14px 16px;

  }
  nav ul li:hover > ul{
    display: block;

  }
  ul li:hover {
      background-color:#3d233b;
  }
  nav ul ul li{
    width: 100px;
    float: none;
    display: list-item;
    position: relative;
    padding: 14px 16px;

  }
  
  body {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    min-height: 100vh;
  }
  
  #hamburger-menu {
      width: 50px;
      height: 50px;
      display: block;
      border: none;
      padding: 0px;
      margin: 20px;
      background: linear-gradient(
        to bottom, 
        #233B3D, #233B3D 20%, 
        white 20%, white 40%, 
        #233B3D 40%, #233B3D 60%, 
        white 60%, white 80%, 
        #233B3D 80%, #233B3D 100%
      );
  }
  
  #hamburger-menu #sidebar-menu {
      visibilty: hidden;
      position: fixed;
      top: 0;
      left: -250px;
      width: 200px;
      height: 100%;
      background-color: #233B3D;
      padding: 0px 10px;
      box-sizing: border-box;
  }