  /* Main Nav Style is coded below */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #233B3D;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #e4e7e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #3d233b;
  }
  /* drop down nav styled below (I hope) */

  nav ul ul{
      position: absolute;
      top: 50px;
      display: none;
      color:#e4e7e5;
      text-align: center;
      padding: 14px 16px;

  }
  nav ul li:hover > ul{
    display: block;

  }
  ul li:hover {
      background-color:#3d233b;
  }
  nav ul ul li{
    width: 100px;
    float: none;
    display: list-item;
    position: relative;
    padding: 14px 16px;

  }