@font-face {
  font-family: josefinSlab; 
  src: url(JosefinSlab-VariableFont_wght.ttf);

}
blockquote {font-family: josefinSlab, serif;
  font-size: 150%;
  color: #4e7e6d
}

body {background-color: #f3f7f4;}

h1 {color: #4e7e6d}
h1 {color: #4e7e6d;}
h2 {color: #76867f;}
h3 {color: #76867f;}
p {font-family: Georgia, 'Times New Roman', Times, serif; 
font-size: 100%;
margin: 10px;
padding-left: 10px;
width: 1000px;
}
h3+p::first-letter {font-size: 150%;
color: #233B3D;}
div { background-color: #f3f7f4;}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 3fr 2fr 2fr 60px;
    grid-gap: 10px;
    height: 400px;

}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
   "header"
   "sidebar"
   "content"
   "sidebar2"
   "footer"
}
body {
    margin: 40px;
  }
  
  .sidebar {
      grid-area: sidebar;
    }
  
    .sidebar2 {
      grid-area: sidebar2;
    }
  
    .content {
      grid-area: content;
      align-content: center
    }
  
    .header {
      grid-area: header;
    }
    
  
    .footer {
      grid-area: footer;
    }
  
    .wrapper {
      background-color: #f3f7f4;
      color: #233B3D;
    }


    ul {
      list-style-type: none;
      width: 100%;
      background: #f3f7f4;
    }
  
    @media only screen and (min-width: 500px)  {
    .wrapper {
  
      grid-template-columns: auto;
      grid-template-areas:
      "header   header"
      "sidebar  content"
      "sidebar2 sidebar2"
      "footer   footer";
    }
    }
  
    @media only screen and (min-width: 600px)   {
      .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header  header  header"
        "sidebar content sidebar2"
        "footer  footer  footer";
        max-width: 600px;
      }
    }
  
  .box {
    background-color: #f3f7f4;
    color: #233B3D;
    border-radius: 5px;
    padding: 10px;
    font-size: 100%; 
  }
  
  .header {
    background-color:#f3f7f4;
  }
  /* footer background image here */
  .footer {
    background-color: #f3f7f4;
    background-image: url(footerimage.jpg)!important;
    background-size: cover;
    text-align: center;

    
  }
  /* transformation of icons but it looks terrible so I need to continue figuring out how to adjust it?*/
  .pic {
    -webkit-transition : width 0.3s linear 0s;
    transition: width 0.3s linear 0s; z-index:10; 
  }
  .pic:hover {
    width:50px;
  }

  .sidebar2 {
    background-color: #f3f7f4;
    color: #233B3D;
  }
  .responsive {
    width: 100%;
    height: auto;
    max-width: 200px;
    
  }
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 35%;
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 600px ) { 
    p{ 
      font-size: 100%;
      line-height: 1.5;
    }

  }
@media screen and (min-width: 600px) {
  p {
    font-size: 100%;
    line-height: 1.5;
  }
}
/* Print stylesheet */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 1em 1em 1em 1em !important; 
  }
  .hamnav,
  .nav,
  .sidebar,
  .sidebar2 { 
    display: none;
  }
p, ul, ol {
  font-size: 11pt;
}
}

table {
  border-collapse: collapse;
}
table th {
  text-align: left;
  background-color: #233B3D;
  color: #f3f7f4;
  padding: 4px 25px 4px 8px;

}
table td {
  border: solid #233B3D;
  padding: 4px 8px;
}
table tr:nth-child(odd) td {
  background-color: #76867f;
}

@media screen and (max-width: 480px) {
  .table {
      overflow-x: auto;
      width: 320px;
  }
}